<ng-container *ngIf="!isOverPuzzle">
  <!-- image -->
  <div class="category-section mt-20">
    <app-image (pieceHeight)="getPieceHeight($event)" (pieceWidth)="getPieceWidth($event)"
      (puzzlePieces)="getPuzzlePiece($event)" />
  </div>
  <!-- game board -->
  <ng-container *ngIf="puzzlePiece.length">
    <div class="board-section mt-20">
      <app-game-board (isOver)="receiveData($event)" [pieceWidth]="pieceWidth" [pieces]="puzzlePiece"
        [pieceHeight]="pieceHeight" />
    </div>
  </ng-container>
  <!-- stats -->
  <!-- <app-stats [time]="time" [moves]="moves" [fails]="fails"></app-stats> -->
</ng-container>

<ng-container *ngIf="isOverPuzzle">
  <div class="justify-end">
    <button class="close-btn" (click)="onClose()">
      <i class="fa-regular fa-circle-xmark"></i>
    </button>
  </div>

  <div class="confetti">
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="icon">Congratulations</div>
  </div>
</ng-container>