<div class="dialog-wrapper">
  <div class="dialog-header">
    <p class="heading">Crop Image and upload</p>
    <button class="close-btn" mat-dialog-close>
      <span class="material-symbols-outlined">close</span>
    </button>
  </div>
  <div class="modal-body">
    <image-cropper [imageChangedEvent]="data.imageChangedEvent" class="image-cropper-container"
      [maintainAspectRatio]="true" [aspectRatio]="data.aspectRatio" [format]="data.imageFormat"
      (imageCropped)="imageCropped($event)" [cropperStaticHeight]="400" [cropperStaticWidth]="400"
      output="base64"></image-cropper>
    <div class="action-button">
      <button class="crop" type="button" (click)="closeModal()">
        Crop
      </button>
    </div>
  </div>
</div>