.wrapper {
  max-width: 420px;
  margin: 0 auto;
}

.board {
  font-size: 0;
  margin-bottom: 5px;
  text-align: center;
}

.dropzone {
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
  border: 1px solid black;
  display: inline-block;
  background-size: 100% 100%;
  padding: 0;
}

.board .placed {
  opacity: 0.3;
}

.board.over .placed {
  opacity: 1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.m-2 {
  margin: 2px;
}

.puzzle-piece {
  background-size: cover;
  min-width: 100px;
  min-height: 100px;
}

.piece-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}