html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Prompt", sans-serif;
}
* {
  box-sizing: border-box;
}
.puzzle-bg {
  position: relative;
  background: url(../src/assets/images/puzzle-background.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
  }
  .animation-text {
    position: relative;
    margin: 0 0 30px;
    background: linear-gradient(-45deg, #ff9603, #edce6e, #edce6e, #ff9603);
    background-size: 300%;
    font-weight: 900;
    font-size: 5vw;
    line-height: 5vw;
    letter-spacing: 0;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 10s ease-in-out infinite;
    -moz-animation: animated_text 10s ease-in-out infinite;
    -webkit-animation: animated_text 10s ease-in-out infinite;
  }
}
@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}
