.img-container {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.category-img {
  width: 100%;
  max-width: 200px;
  max-height: 150px;
  object-fit: cover;
}

.text-center {
  text-align: center;
}